<% provide(:title, 'About') %>

<%= render partial: "/partials/pages_header", locals: {title: 'Q AND A', subtitle: 'wtf?'} %>

<div class="page_body">

<div class="page_subheader">[ Owl noise ]</div>
<div class="page_text"> 
I'm Peter Broda aka bananarchy, and I built and maintain this here site.
</div>

<div class="page_subheader">[ Angkor ___ ]</div>
<div class="page_text"> 
It's a crossword puzzle database, similar to <%= link_to 'xwordinfo', 'http://www.xwordinfo.com', :target => '_blank' %> and <%= link_to 'cruciverb', 'http://www.cruciverb.com', :target => 'blank' %>, but containing puzzles not in either of those.
</div>

<div class="page_subheader">[ Get dressed in ]</div>
<div class="page_text"> 
Well, right here. However, you won't find any actual puzzles to solve here, just solutions and stats and meta-information.
For information about where to go to solve any of the fine puzzles featured here, visit the <%= link_to 'sources', sources_path %> page and click on any name. 
</div>

<div class="page_subheader">[ Happy ending? ]</div>
<div class="page_text"> 
I built this site because it needed to exist. 
There's a fair number of puzzles in here to get you started, but I will continue to add content and features.
</div>

<div class="page_subheader">[ Small cyst ]</div>
<div class="page_text"> 
As often as I can. I will try to add newly published puzzles as promptly as possible, and there are a number of older puzzles that I have yet to add. Check back often.
</div>

<div class="page_subheader">Can I scrape this site?</div>
<div class="page_text">
Please don't. I can afford to keep this site free for the time being as long as bandwidth demands don't go through the roof.
However, I do encourage data mining and analysis, so if you would like any or all of my data for offline use feel free to drop me line and I'll be happy to work with you to provide what you need and in the format you need it.
Better yet, tell me what sort of stats and information you'd like and I'll provide it on the site for everyone to use.
</div>

<div class="page_subheader">Are you allowed to be doing this?</div>
<div class="page_text">
Yes, I received permission from the rights holders to present all of the content. If your work appears on this site and you're not happy about that, get in touch and we'll sort it out.
</div>

<div class="page_subheader">Why isn't [X] in the database?</div>
<div class="page_text">
For one of the following reasons:
<ul>
<li>I asked for permission and did not receive it. Nothing I can do about that, except hope that the rights holder changes his or her mind in the future.</li>
<li>Either I haven't gotten around to it yet or permission is pending. For instance, I'd still like to add the MMMM series, Brad Wilber's Bewilbered themelesses, stuff from the "Island of Lost Puzzles" in the crosswordfiend forum, and puzzles from a few other lesser known outlets.</li>
<li>I wasn't even aware it existed. If you've published puzzles that should be in my database but aren't, drop me a line. I'll be happy to take a look.</li>
<li>It's of very low quality and/or does not meet modern American crossword standards.</li>
</ul>
</div>

</div>
