<% provide(:title, 'Home') %>

<%= render partial: "/partials/pages_header", locals: {title: 'HOME', subtitle: 'you are here'} %>

<div class="page_body">

  <div class="page_subheader">Announcements</div>
    <%= render partial: "/partials/announcements" %>
  </div>

</div>
