<% provide(:title, "Sources") %>

<%= render partial: "/partials/pages_header", locals: {title: 'SOURCES', subtitle: 'where did you get these?'} %>

<div class="resource_page_body">

<div class="resource_list_header">The following sources are in the database:</div>
<ul class="resource_list">
<%
  Source.find(:all).each do |src|
    %><li><%= link_to src.name, source_path(src) %></li><%
  end
%>
</ul>

</div>
