<% provide(:title, "Sources") %>

<div class="resource_page_body">

<div class="resource_page_title_bar">
  <div class="resource_page_header">Sources</div>
  <div class="resource_page_subheader">Where did you find these?</div>
</div>
<div style="clear:both;">&nbsp;</div>
<div class="resource_list_header">The following sources are in the database:</div>
<ul class="resource_list">
<%
  Source.find(:all).each do |src|
    %><li><%= link_to src.name, source_path(src) %></li><%
  end
%>
</ul>

</div>
