<% provide(:title, "Hall of Fame") %>

<%= render partial: "/partials/pages_header", locals: {title: 'HALL OF FAME', subtitle: 'block count'} %>

<div class="resource_page_body">

  <div class="page_text">
Note that only 15x15 puzzles are listed here, since it's only really meaningful to compare puzzles of the same dimensions and most of the puzzles in this database are 15x15. For a meaningful comparison of "openness" between grids of all sizes (and a better measure of "openness" all around), check out the <%= link_to 'Average Word Length', hofwl_path %> Hall of Fame page.
<br/><br/>Also not listed here are variety puzzles involving significantly different grid styles (cryptics, marching bands, etc) and/or constraints (vowelless, anything goes/something different, etc).
<br/><br/>Lastly, only puzzles with fewer than 26 or more than 41 blocks are listed.
  </div>

  <%= render partial: "/partials/list_puzzles", locals: {puzzles_sorted: @puzzles_by_bc, page_source: "hofbc"} %>

</div>
