<% provide(:title, "Hall of Fame") %>

<%= render partial: "/partials/pages_header", locals: {title: 'HALL OF FAME', subtitle: 'personal favourites'} %>

<div class="resource_page_body">

  <div class="page_text">
Just some puzzles that I think are neato.
  </div>

  <%= render partial: "/partials/list_puzzles", locals: {puzzles_sorted: @puzzles_by_type, page_source: "hofpers"} %>



</div>
