<div class="word_list">
<% word_list.each_pair do |w, c| %>

  <div class="word_list_row" id="<%= w.id %>">

	  <div class="word_list_row_right">
            <div class="wlr_count"><%= c %></div>
	  </div><!-- right div -->

	  <div class="word_list_row_left">
	    <div class="wlr_word"><%= w.grid_text %></div>
	  </div><!-- left div -->

          <div style="clear:both;"></div>

  </div><!-- end of word_list_row -->

<% end %>
<div style="clear:both;"></div>
</div>
