<div class="page_title_bar">
  <div class="page_header"><%= title %></div>
  <div class="page_header_line">&nbsp;</div>
  <div class="page_altheader"><%= subtitle %></div>
  <div style="clear:both;">&nbsp;</div>
</div>


