<div id="puzzle_source"><%= source.upcase %></div>
<div id="title_bar">
  <div id="puzzle_title_block">
    <div id="puzzle_title"><%= title.html_safe %></div>
    <% if !subtitle.nil? %>
      <div id="puzzle_subtitle"><%= subtitle.html_safe %></div>
    <% end %>
  </div>
  <div id="puzzle_date"><%= date %></div>
</div>
<div style="clear: both"></div>
