<h2><%= @editor.name %></h2>
<p><%= @editor.bio %></p>
<hr/>
<p><b>Puzzles edited by <%= @editor.name %>:</b></p>
<ul><%
  @editor.puzzles.each do |p|
    %><li><%= link_to p.title, puzzle_path(p) %></li><%
  end
%></ul>

