<% provide(:title, "Words") %>

<%= render partial: "/partials/pages_header", locals: {title: 'WORDS', subtitle: 'crossed and otherwise'} %>

<div class="resource_page_body">

<p class="page_text">Words here, get yer words.</p>

<div class="page_subheader">Wordlists</div>
<div class="page_text">
Use the links below to download plaintext files containing all of the words in my database. The words are separated by line breaks, and are unscored.
Speaking of line breaks, different operating systems use different line endings just for fun! If you're using any version of Windows, use the Windows file. Linux, use the Mac/Linux file.
Only use the Old Mac file if you're running a pre-OS X version of the Mac OS (pre-2001 or so). If you're unsure, the Windows file is probably the safest bet. 
Other than the line endings, the files are identical.
</div>

<div class="page_download"><a href="wordlists/crossexamination_wordlist_windows.txt">Windows</a></div>
<div class="page_download"><a href="wordlists/crossexamination_wordlist_windows.txt">Mac/Linux</a></div>
<div class="page_download"><a href="wordlists/crossexamination_wordlist_windows.txt">Old Mac</a></div>

</div>
