<% provide(:title, 'Search') %>

<div class="page_title_bar">
  <div class="page_header">RESULTS</div>
  <div class="page_header_line">&nbsp;</div>
  <div class="page_altheader">Here's what I got for <span style="font-weight:bold;"><%= @search_term %></span></div>
  <div style="clear:both;">&nbsp;</div>
</div>


<div class="resource_page_body">

  <% if (@grouped_results.size > 0) %>
    <div class="word_record">

    </div>

    <div class="word_list_header">Entries matching your search:</div>

    <%= render partial: "/partials/list_words", locals: {word_list: @grouped_results} %>
  <% else %>
    <div class="resource_page_text" id="no_results_text">
	Sorry, no matches
    </div>

  <% end %>
</div>
<div style="clear:both;"></div>
