<% provide(:title, @word.grid_text) %>

<div class="word_record">

<p>Word in the grid: <%= @word.grid_text %></p>
<p>Full word: <%= @word.full_text %></p>

<%= render partial: "/partials/list_words", locals: {word_list: @word.entries} %>

</div>
