<h2><%= @constructor.name %></h2>
<p><%= @constructor.bio %></p>
<hr/>
<p><b>Puzzles constructed by <%= @constructor.name %>:</b></p>
<ul><%
  @constructor.puzzles.each do |p|
    %><li><%= link_to p.title, puzzle_path(p) %></li><%
  end
%></ul>
