/*@import "bootstrap";*/

/*-----------*/
/* variables */
/*-----------*/

$white:		#FFF;
$black:		#000;
$lightGrey: 	#999;

$darkHighlight:		#8D003B;
$mediumHighlight:	#D9005B;
$lightHighlight:	#EC3B86;
$lighterHighlight:	#F099BC;
$lightestHighlight:	#FBE6EE;


/*--------*/
/* mixins */
/*--------*/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-----------*/
/* universal */
/*-----------*/

html {
  overflow-y: scroll;
}

body {
/*  padding-top: 60px;*/
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clear {
  clear: both;
}


/*------------*/
/* typography */
/*------------*/

a {
  color: $darkHighlight;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: $lighterHighlight;
  text-decoration: none;
  font-weight: bold;
}


/*--------*/
/* header */
/*--------*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}


/*--------*/
/* footer */
/*--------*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGrey;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}






/*----------*/
/* sidebars */
/*----------*/

.source_sidebar {
	
	padding: 15px;
	background-color: $lightestHighlight;
	color: $black;
}

ul.sidebar_nav {
  list-style: none inside none;
  padding: 0px;
}
ul.sidebar_nav li {
  margin-left: -25px;
}
ul.sidebar_nav li:hover {
  background-color: $lighterHighlight;
}
ul.sidebar_nav li a {
  color: $darkHighlight;
  padding: 5px;
}
ul.sidebar_nav li a:hover {
  color: $darkHighlight;
}


/*---------------*/
/* miscellaneous */
/*---------------*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
