/*@import "bootstrap";*/

/*-----------*/
/* variables */
/*-----------*/

$white:		#FFF;
$black:		#000;
$lightGrey: 	#999;

$darkHighlight:		#8D003B;
$mediumHighlight:	#D9005B;
$lightHighlight:	#EC3B86;
$lighterHighlight:	#F099BC;
$lightestHighlight:	#FBE6EE;


/*--------*/
/* mixins */
/*--------*/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-----------*/
/* universal */
/*-----------*/

html {
  overflow-y: scroll;
}

body {
/*  padding-top: 60px;*/
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clear {
  clear: both;
}

::selection {
	color: #97473E;
}

/*------------*/
/* typography */
/*------------*/

a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}


/*--------*/
/* header */
/*--------*/


/*--------*/
/* footer */
/*--------*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGrey;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}






/*----------*/
/* sidebars */
/*----------*/

.source_sidebar {
	
	padding: 15px;
	background-color: $lightestHighlight;
	color: $black;
}

ul.sidebar_nav {
  list-style: none inside none;
  padding: 0px;
}
ul.sidebar_nav li {
  margin-left: -25px;
}
ul.sidebar_nav li:hover {
  background-color: $lighterHighlight;
}
ul.sidebar_nav li a {
  color: $darkHighlight;
  padding: 5px;
}
ul.sidebar_nav li a:hover {
  color: $darkHighlight;
}


/*---------------*/
/* miscellaneous */
/*---------------*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/****************/
/*   MEGAMENU   */
/****************/
#megamenu {
	text-align: right;
	border-bottom: 3px solid #888;
	float: right;
	margin: 0px;
	padding: 0px 50px 0px 0px;
/*	min-width: 950px;*/
}

#logo {
  float: right;
  font-family: "Arial";
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  color: #DDD;
  background-color: #888;
  padding: 8px 12px 4px 12px;
  text-transform: uppercase;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}
#black_megamenu_square {
	background-color: #888;
	height: 36px;
	width: 38px;
	float: left;
	margin: 0px 25px 0px 50px;
	padding: 0px;
}
#nav {
	font-family: "Arial";
	font-size: 1em;
	list-style: none;
	font-weight: bold;
	margin: 0px 175px 0px 0px;
	padding: 12px 0px 0px 0px;
	position: relative;
	top: 4px;
	float: left;	
	z-index: 5;
}
#nav li {
	float: left;
	position: relative;
	padding: 0px 25px 0px 25px;
}
#nav a {
/*	display: block;*/
	color: #888;
	background: #FFF;
	text-decoration: none;
}
#nav a:hover {
	color: #555;
	text-decoration: none;
}
#nav ul {
/*	width: 150px;*/
	background: #FFF;
	list-style: none;
	text-align: left;
	margin-left: 0px;
	padding: 5px 0px 10px 0px;
	border-left: 3px solid #999;
	border-right: 1px solid #999;
	position: absolute;
	left: -9999px;
}
#nav ul li {
	padding: 5px 15px 5px 15px;
	float: none;
	font-size: .75em;
}
#nav ul a {
	padding: 5px;
	white-space: nowrap;
}
#nav li:hover ul {
	left: 0;
}
#nav li:hover a {
}
#nav li:hover ul a {
	text-decoration: none;
}
#nav li:hover ul li a:hover {
	background-color: #EEE;
}
