/*@import "bootstrap";*/

/*-----------*/
/* variables */
/*-----------*/

$white:		#FFF;
$black:		#000;
$lightGrey: 	#999;

$darkHighlight:		#8D003B;
$mediumHighlight:	#D9005B;
$lightHighlight:	#EC3B86;
$lighterHighlight:	#F099BC;
$lightestHighlight:	#FBE6EE;


/*--------*/
/* mixins */
/*--------*/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-----------*/
/* universal */
/*-----------*/

html {
  overflow-y: scroll;
}

body {
/*  padding-top: 60px;*/
	font-family: "Ubuntu Condensed", "Arial", sans-serif;
	margin: 0px;
	width: 100%;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}
#body_wrapper {
	padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clear {
  clear: both;
}

::selection {
	color: #97473E;
}

/*------------*/
/* typography */
/*------------*/

a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #8AB;
  text-decoration: none;
  font-weight: bold;
}


/*--------*/
/* header */
/*--------*/


/*--------*/
/* footer */
/*--------*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGrey;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}






/*----------*/
/* sidebars */
/*----------*/

.source_sidebar {
	
	padding: 15px;
	background-color: $lightestHighlight;
	color: $black;
}

ul.sidebar_nav {
  list-style: none inside none;
  padding: 0px;
}
ul.sidebar_nav li {
  margin-left: -25px;
}
ul.sidebar_nav li:hover {
  background-color: $lighterHighlight;
}
ul.sidebar_nav li a {
  color: $darkHighlight;
  padding: 5px;
}
ul.sidebar_nav li a:hover {
  color: $darkHighlight;
}


/*---------------*/
/* miscellaneous */
/*---------------*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/****************/
/*   MEGAMENU   */
/****************/
#megamenu {
	text-align: right;
	border-bottom: 3px solid #555;
	background-color: #F7F7F7;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	min-width: 1200px;
	position: fixed;
	z-index: 100;
}
#logo {
  float: right;
  color: #CCC;
}
#logo, #black_megamenu_square {
  font-family: 'Nunito', "Arial", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  background-color: #555;
  padding: 8px 12px 4px 12px;
  text-transform: uppercase;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}
#black_megamenu_square {
/*        height: 36px;
	width: 38px;*/
	float: left;
	color: #AAA;
	margin: 0px 25px 0px 0px;
}
div#search_bar {
	background-color: #DDD;
	float: left;
	margin: 0px;
	padding: 0px;
}
#search {
	border: none;
	background-color: #DDD;
	color: #A17470;
	height: 36px;
	font-size: 1em;
	font-weight: bold;
	text-align: right;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	line-height: 1;
}
#search:focus {
	outline: none;
}
#nav {
	font-family: 'Nunito', 'Arial', sans-serif;
	font-size: 0.95em;
	list-style: none;
	margin: 0px 25px 0px 0px;
	padding: 12px 0px 0px 0px;
	position: relative;
	top: 4px;
	float: left;	
	z-index: 5;
}
#nav li {
	float: left;
	position: relative;
	padding: 0px 10px 0px 10px;
}
#nav a {
/*	display: block;*/
	color: #777;
	text-decoration: none;
}
#nav a:hover {
	color: #000;
	text-decoration: none;
}
#nav ul {
/*	width: 150px;*/
	background: #F7F7F7;
	list-style: none;
	text-align: left;
	margin-left: 0px;
	padding: 5px 0px 10px 0px;
	border-left: 3px solid #666;
	border-right: 1px solid #666;
	position: absolute;
	left: -9999px;
}
#nav ul li {
	padding: 5px 15px 5px 15px;
	float: none;
	font-size: .75em;
}
#nav ul a {
	padding: 5px;
	white-space: nowrap;
}
#nav li:hover ul {
	left: 0;
}
#nav li:hover a {
}
#nav li:hover ul a {
	text-decoration: none;
}
#nav li:hover ul li a:hover {
	background-color: #EEE;
}


/*************/
/*   PAGES   */
/*************/
.page_header {
	font-family: 'Nunito', 'Arial', sans-serif;
        color: #793932;
        font-size: 2.5em;
        font-weight: bold;
}
.page_altheader {
	color: #AAA;
	font-weight: bold;
	font-size: 1em;
}
div.page_header_line {
	margin-top: 10px;
	margin-right: 5px;
	border-top: 2px solid #EEE;
	float: left;
	width: 100px;
}

div.page_body {
	font-family: 'Ubuntu Condensed', "Arial", sans-serif;
	margin-left: 100px;
	margin-right: 100px;
}

div.page_subheader {
        font-size: 1.5em;
        font-weight: bold;
        color: #BBB;
	margin-top: 40px;
	margin-bottom: 15px;
}
.page_title_bar {
}
.page_text {
        color: #777;
        margin-left: 50px;
        font-size: 1.2em;
}

div.popup_puzzle {
        background: #FFF;
        margin: 0px;
        border: 2px solid #555;
        position: absolute;
        left: -9999px;
	background-color: #FFF;
}
div.puzzle_link:hover div.popup_puzzle {
	left: 200px;
}

table.mini_puzzle {
	border-collapse: collapse;
}
table.mini_puzzle tr {
}
table.mini_puzzle td {
	padding: 2px;
	font-size: 0.5em;
	font-weight: bold;
	border: none;
}
td.mini_white {
	background-color: #FFF !important;
	color: #555;
	font-family: "Arial", sans-serif;
}
td.mini_black {
	background-color: #555 !important;
}



/*****************************/
/*   RESOURCE PRESENTATION   */
/*****************************/
.resource_page_text {
	color: #888;
}

.resource_list {
	padding: 25px 0px 0px 25px;
}
.resource_list_item {
	border-top: 1px solid #DDD;
	padding: 7px 0px 35px 10px;
}
.resource_list_item_header {
	font-size: 1.5em;
	margin-bottom: 15px;
}
.resource_list_item_field {
	color: #888;
	padding: 2px 0px 2px 0px;
	margin-left: 15px;
}
.resource_list_item_key {
	font-weight: bold;
}


.large_list_table {
        border: none;
        border-collapse: collapse;
	margin-top: 50px;
        margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	text-align: center;

        td {
                padding-right: 20px;
                padding-left: 20px;
                padding-top: 8px;
                padding-bottom: 8px;
		
		&.llt_left {
			text-align: left;
		}
		&.llt_right {
			text-align: right;
		}
		&.llt_pub_date {
			white-space: nowrap;
		}
		&.llt_answer_word {
			font-weight: bold;
		}
		&.llt_stats {
			font-size: 0.8em;
			color: #777;
		}
        }
        th {
                padding-bottom: 2px;
		margin-bottom: 20px;
		border-bottom: 1px solid #BBB;
		font-size: 0.75em;
        }

	tr.llt_light {
		td {
			background-color: #FFF;
		}
	}
	tr.llt_dark {
		td {
			background-color: #EEE;
		}
	}
	td.llt_subheader
	{
		text-align: center;
		font-weight: bold;
		font-size: 1.2em;
		color: #888;
		padding-top: 25px;
	}
}

/********************/
/*   ANNOUNCEMENTS  */
/********************/
.announcement {
	margin: 25px 0px 0px 0px;
}
.announcement_date {
	border-top: 1px solid #CCC;
	color: #999;
	text-align: right;
	padding-top: 5px;
	font-size: 0.75em;
}
.announcement_text {
        color: #777;
        margin-left: 50px;
        font-size: 1.2em;
}
