#page_content {
	text-align: center;
}

.puzzle {
	display: inline-block;
	margin: 0px auto 10px auto;
	text-align: left;
	
}


/*-----------*/
/*   grid    */
/*-----------*/
#next_prev_links {
	text-align: center;
	margin: 0px 0px 5px 0px;
}

table.solution_grid {
	border: 3px solid black;
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}
table.solution_grid td {
	border: 1px solid black;
	padding: 0px;
	width: 32px;
	height: 32px;
	overflow: hidden;
}
table.solution_grid_with_outer {
	border: none;
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}
table.solution_grid_with_outer td.white_square, td.black_square {
	border: 1px solid black;
	padding: 0px;
	width: 32px;
	height: 32px;
	overflow: hidden;
}
td.no_display {
	border: none;
}
div.black_square {
	background-color: black;
	border: 1px solid black;
}
div.black_square_with_letter {
	background-color: black;
	color: white;
	border: 1px solid black;
}

div.white_square {
/*	background-color: white;*/
	border: 1px solid white; /* need a border all the time so that circled squares aren't larger */
}

div.circle {
	border-color: #666;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px; 
}


div.number {
	font-size: 6pt;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
	padding: 0px;
/*	position: relative;*/
	width: 32px;
	height: 10px;
	line-height: 10px;
}

div.letter {
/*	position: relative;*/
	width: 32px;
	height: 22px;
	font-size: medium;
	font-weight: bold;
	text-align: center;
}


/*-----------*/
/*   info    */
/*-----------*/

div#puzzle_grid_and_info {
	position: relative;
	top: -32px;
/*	width: 75%;*/
	min-width: 1200px;
	font-family: "Arial";
	max-width: 1200px;
}
div#puzzle_grid {
	margin-top: 32px;
	margin-left: 65px;
	margin-right: 0px;
	float: right;
}

div#title_bar {
	width: 100%;
	height: 25px;
	border-top: 2px solid #555;
}
#puzzle_constructors {
	color: #999;
}
#puzzle_date {
	float: right;
	font-family: "Arial";
	font-size: 12pt;
	margin: 10px;
	color: #777;
}
#puzzle_title {
	float: left;
	padding-top: 0px;
	margin-top: 0;
	color: #793932;
	font-family: "Arial";
	font-size: 28pt;
	padding-left: 20px;
	font-weight: bold;
}
#puzzle_source {
	margin-bottom: 0px;
	margin-bottom: 0px;
	position: relative;
	bottom: -32px;
	right: -75px;
	font-size: 6em;
	font-family: "Impact";
	color: #EAEAEA;
	z-index: -1;
	white-space: nowrap;
}
#puzzle_main_info {
	margin-left: 0px;
	margin-top: 20px;
	padding: 15px;
	font-size: 15pt;
	min-width: 350px;
}
#puzzle_small_info {
	float: right;
	margin-right: 40px;
	margin-top: 175px;
}
table#small_info_table {
	border: none;
	border-collapse: collapse;
}
table#small_info_table td {
	padding-left: 15px;
	padding-right: 15px;
}
td.small_field_name {
	font-size: 8pt;
	color: #888;
	text-align: right;
}
td.small_field_value {
	font-size: 8pt;
	color: #444;
	font-weight: bold;
	text-align: left;
}

table#puzzle_info_table {
	border: none;
	border-collapse: collapse;
	margin-top: 15px;
	margin-left: 15px;
}
table#puzzle_info_table td {
	padding-bottom: 5px;
	padding-top: 5px;
}
td.info_field_name {
	text-align: right;
	padding-right: 25px;
	border-right: 1px solid #999;
	vertical-align: text-top;
	font-size: 10pt;
	color: #888;
	font-weight: bold;
}
td.info_field_value {
	color: #444;
	text-align: left;
	font-size: 1em;
	font-weight: bold;
	padding-left: 25px;
	vertical-align: text-top;
}
td#meta_answer {
	color: #A15951;
	font-size: 1.2em;
}
td#long_info_text {
	font-size: 0.75em;
	line-height: 1.5;
}
.bottom_information_field {
	text-align: center;
	color: #000;
	font-size: small;
}

.theme_explanation {
	max-width: 900px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	margin-top: 15px;
	padding: 15px;
	text-align: left;
}


/*-----------*/
/*   clues   */
/*-----------*/

div.clues {
}
div.clue_column {
	width: 49%;
	font-family: "Arial";
	font-size: 0.75em;
	text-align: center;
}
span.clue_column_header {
	font-size: 12pt;
	color: #888;
	font-weight: bold;
}
#across_clues {
	float: left;
}
#down_clues {
	float: right;
}
table.clue_list {
	width: 100%;
	margin-top: 15px;
	border: none;
	border-collapse: collapse;
	td {
		vertical-align: top;
		margin: 0px;
		padding-bottom: 5px;
	}
	tr:hover td.clue_number {
		background-color: #DDD;
		color: #555;
	}
}


#down_clues table.clue_list {
	tr:hover td.clue_answer {
	  /* fallback */
		  background-color: #EEE;
	  /* Safari 4-5, Chrome 1-9 */
		  background: -webkit-gradient(linear, left top, right top, from(#FFF), to(#DDD));
	  /* Safari 5.1, Chrome 10+ */
		  background: -webkit-linear-gradient(left, #FFF, #DDD);
	  /* Firefox 3.6+ */
		  background: -moz-linear-gradient(left, #FFF, #DDD);
	  /* IE 10 */
		  background: -ms-linear-gradient(left, #FFF, #DDD);
	  /* Opera 11.10+ */
		  background: -o-linear-gradient(left, #FFF, #DDD);
	}
	tr:hover td.clue_text {
	  /* fallback */
		  background-color: #EEE;
	  /* Safari 4-5, Chrome 1-9 */
		  background: -webkit-gradient(linear, left top, right top, from(#DDD), to(#FFF));
	  /* Safari 5.1, Chrome 10+ */
		  background: -webkit-linear-gradient(left, #DDD, #FFF);
	  /* Firefox 3.6+ */
		  background: -moz-linear-gradient(left, #DDD, #FFF);
	  /* IE 10 */
		  background: -ms-linear-gradient(left, #DDD, #FFF);
	  /* Opera 11.10+ */
		  background: -o-linear-gradient(left, #DDD, #FFF);
	}
}

#across_clues table.clue_list {
	tr:hover td.clue_answer {
	  /* fallback */
		  background-color: #EEE;
	  /* Safari 4-5, Chrome 1-9 */
		  background: -webkit-gradient(linear, left top, right top, from(#DDD), to(#FFF));
	  /* Safari 5.1, Chrome 10+ */
		  background: -webkit-linear-gradient(left, #DDD, #FFF);
	  /* Firefox 3.6+ */
		  background: -moz-linear-gradient(left, #DDD, #FFF);
	  /* IE 10 */
		  background: -ms-linear-gradient(left, #DDD, #FFF);
	  /* Opera 11.10+ */
		  background: -o-linear-gradient(left, #DDD, #FFF);
	}
	tr:hover td.clue_text {
	  /* fallback */
		  background-color: #EEE;
	  /* Safari 4-5, Chrome 1-9 */
		  background: -webkit-gradient(linear, left top, right top, from(#FFF), to(#DDD));
	  /* Safari 5.1, Chrome 10+ */
		  background: -webkit-linear-gradient(left, #FFF, #DDD);
	  /* Firefox 3.6+ */
		  background: -moz-linear-gradient(left, #FFF, #DDD);
	  /* IE 10 */
		  background: -ms-linear-gradient(left, #FFF, #DDD);
	  /* Opera 11.10+ */
		  background: -o-linear-gradient(left, #FFF, #DDD);
	}
}
td.clue_text {
	width: 60%;
	color: #555;
}

#down_clues td.clue_text {
	text-align: left;
	padding-right: 25%;
}
#across_clues td.clue_text {
	text-align: right;
	padding-left: 25%;
}
td.clue_answer {
	width: 30%;
	font-size: 1.2em;
	font-weight: bold;
	word-break: keep-all;	
}
#down_clues td.clue_answer {
	text-align: right;
}
#across_clues td.clue_answer {
	text-align: left;
}
td.clue_number {
	width: 10%;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	color: #AAA;
}

div#theme_answers {
	font-family: "Arial";
	font-size: 0.75em;
	color: #555;
}
table.theme_answer_list {
	margin-bottom: 25px;
	border-collapse: collapse;
	border: none;
	td {
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
}
td.theme_clue_list {
	text-align: right;
}
td.theme_grid_answer_list {

}
td.theme_base_phrase_list {
	border-left: 1px solid #DDD;
}
