div.word_record {
	font-family: "Arial";
}

#word_appearances_table {
	font-size: 0.75em;
	td.word_answer {
		color: #555;
		font-weight: bold;
		font-size: 1.25em;
/*		border-right: 1px solid #CCC;*/
	}
	td.word_puzzle {

	}
	td.word_clue {

	}
	td.word_constructors {
		color: #999;
	}
}
